/* body {font-family: Arial, Verdana, sans-serif; background-color: rgb(185,179,175);}} */
h1, h2{color: #ee3380;}
p {color: #665544;}

*{
font-family: Arial, Verdana, sans-serif; padding: 10px;
/*background-color: rgb(200,200,200);}*/
/*background-color: hsl(0,0%,78%);}*/
 }

/*h1 { background-color: DarkCyan;}*/
/*h2 { background-color: #ee3e80;}*/

p{ background-color: white;}

h1 { font-family: "Courier New", monospace;}
i {color: green;}
i {color: red;}
b {color: pink;}
pb {color: blue !important;}
pb {color: violet;}
p#intro { font-size: 100%;}
p { font-size: 75%;
/*background-color: hsla(0,100%,100%,0.5);*/
}

.page {
  border: 1px solid #665544;
  background-color: #efefef;
  padding: inherit;
}


/*css3*/

p.one {
  background-color: rgb(0,0,0);
  opacity: 0.5;}
p.two {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.5);}